@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
  text-decoration: none;

}
.body{
  font-family: 'Roboto', sans-serif;
}
.container-banner{
  padding:20px 0;
  background-color:#FFF;
  height: 100vh;
}
.top {
  text-align: center;
  color:#313131;
  padding-bottom: 16px;
}
.top .top-text {
  
  font-weight: 20px;
  font-weight: 700;
}
.top .top-desc {
  margin-top: 11px;
  font-size: 14px;
  font-weight: 400;

}
.content-info{
  background-color: #FFF;
  padding: 10px 0;
}
.slide-area{
  max-width:33.333%;
  margin: 0 auto;
  padding: 10px;
  border:1px solid #d9d9d9;
  border-radius:4px;
}
.content-info-product{
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
}
.content-slider-swiper{
  opacity: 0;
  visibility:hidden;
  height: 0;
  overflow:hidden;
  position: relative;
  
}
.content-slider-swiper.active{
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  height: 100%;
  overflow:hidden;
}
.swiper-container{
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper{
  align-items: center;
}

.swiper-slide {

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swiper-slide img{
  max-width: 100%;
}

.gallery-top {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 16.666%;
  height: 100%;
  opacity: 0.6;
  cursor: pointer;
}


.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.list-area {
  flex: auto;
  padding-left:20px;
  
}

.list-area .list-content {
  display:flex;
  justify-content: space-around;
  
}
.list-area .list-content .list-item {
  width: 30%;
  border:1px solid #d9d9d9;
  border-radius:4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  cursor: pointer;
  transition: all .3s linear;
  
}

.list-area .list-content .list-item.active{
  border: 1px solid #28842D;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}
.list-area .list-content .list-item .img-area {
  max-width: 100%;
  border-radius: 4px;
  transition: all .3s;
  border:1px solid #fff;
  margin-bottom: 6px;
}
  
.list-area .list-content .list-item .img {
  max-width: 100%;
  border-radius:4px;
}
.list-area .list-content .list-item .product-info {
  text-align: center;
  margin-top: auto;
  width: 100%;
}
.list-area .list-content .list-item .product-info .product-title {
  
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #28842D;
}
.list-area .list-content .list-item .product-info .Product-name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #414141;
 }

.list-area .list-content .list-item .product-info .product-body .price {
  font-size: 14px;
  margin-bottom: 12px;
}
.list-area .list-content .list-item .product-info .product-body .price .old-price {
  font-weight: 200;
  color:#969696;
  text-decoration: line-through;
  margin-right: 6px;
  margin-bottom: 10px;
}
.list-area .list-content .list-item .product-info .product-body .price .new-price {
  font-weight: 600;
  color: #BC0000;
}
.list-area .list-content .list-item .product-info .btn-are {
    padding: 4px;
  }
  
.list-area .list-content .list-item .product-info .btn-are .start-btn {
  width: 100%;
  cursor: pointer;
  border:1px solid #28842D;
  background-color: #FFF;
  color: #28842D;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing:1.5px;
  transition: all .3s;
  border-radius: 4px;
  transition: all .3s;
}



@media only screen and (min-width:992px){
  .gallery-thumbs .swiper-slide:hover{
    opacity: .8;
  }
  .list-area .list-content .list-item:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
 
  .list-area .list-content .list-item.active .img-area{
    transform: translateY(-10%);
    border:1px solid #d9d9d9;
  }
  .list-area .list-content .list-item .product-info .btn-are .start-btn:hover{
    background-color: #28842D;
    color:#FFF;
  }

}

@media screen and (max-width:991px){
  .content-info-product{
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .list-area{
    order: -1;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
  .slide-area{
    max-width: 100%;
    border: none;
  }
  .list-area .list-content .list-item .product-info .product-body{
    display: none;
  }
  .list-area .list-content .list-item.active{
    border: 1px solid #28842D;
    box-shadow:none;
    
  }
  .list-area .list-content .list-item .product-info .btn-are .start-btn{
    font-size: 10px;
    font-weight: 600;
  }
}